# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.so.*

# Compiled Static libraries
*.lai
*.la
*.a

# backup files
*.bak

# diff files
*.diff
*.patch

# other build leftovers
.dependencies
