#
# User defined Makefile options for glcdprocdriver

### The C compiler and options:

CC       ?= gcc
CFLAGS   ?= -O2

CXX      ?= g++
CXXFLAGS ?= -g -O2 -Wall -Woverloaded-virtual
#CXXFLAGS ?= -g -ggdb -O0 -Wall -Woverloaded-virtual

#LDFLAGS ?= -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

ifndef $(DESTDIR)
DESTDIR = /usr/local
endif

BINDIR = $(DESTDIR)/bin
LIBDIR = $(DESTDIR)/lib
INCDIR = $(DESTDIR)/include
MANDIR = $(DESTDIR)/man

### Includes and defines

#INCLUDES += -I

DEFINES += -D_GNU_SOURCE

